<!DOCTYPE html>
<html>
<head>

    <title>Go Task App</title>

    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    

    <!-- Custom CSS -->
    <link href="/static/css/styles.css" rel="stylesheet">
    <!--<link href="/static/css/jquery-ui.min.css" rel="stylesheet">-->
    <link href="/static/css/sidebar.css" rel="stylesheet">
    <link href="/static/css/sidebar-bootstrap.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">

    <!-- Include Modernizr in the head, before any other Javascript -->
    <!--<script src="/static/js/modernizr-2.6.2.min.js"></script>-->
    <!-- All Javascript at the bottom of the page for faster page loading -->
    <script src="/static/js/jquery.min.js"></script>
    <!--<script src="/static/js/jquery-ui.min.js"></script> ENABLE WHEN DUE DATE FEATURE IS REQUIRED-->

    <!-- If no online access, fallback to our hardcoded version of jQuery
		<script>window.jQuery || document.write('<script src="/static/js/jquery-1.8.2.min.js"><\/script>')</script>
		-->
    <!-- Bootstrap JS -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="/static/js/main.js"></script>

</head>

<body>